<!DOCTYPE html>
<html>
  <head>
    <title>COLLECTIONS????</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    {{#planets}}
      {{.}}
    {{/planets}}
  </body>
</html>
